.accordion_card {
  padding: 0px;
  border-radius: 6px !important;
  box-shadow: 0 3px 50px 0 rgba(0, 12, 105, 0.03);
  background-color: #ffffff;
  margin-bottom: 15px;
  border: none;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    margin-bottom: 5px;
  }
}

.accordion_header {
  border: none;
  background-color: #ffffff;
  padding: 30px 35px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    font-size: 14px;
    padding: 30px 25px;
  }
}

.accordion_body {
  padding: 30px 45px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #5a6484;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    font-size: 13px;
    padding: 30px 35px;
    padding-top: 5px;
  }
}

.active {
  font-weight: 600;
}

.open {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.closed {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
