.header_new{
    padding: 14px 48px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.01);
    a{
        svg {
            width: 129px;
            color: #0052cc;
        }
    }
    .search_bx{
        background-color: #f4f5f7;
        color: #5a6484;
        font-size: 14px;
        cursor: pointer;
        line-height: 1.5;
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 10px 15px;
        width: 358px;
        svg{
            width: 20px;
            margin-right: 5px;
        }
    }
    .responsive_ham{
        margin-right: 14px;
        margin-top: 8px;
        cursor: pointer;
        display: none;
        img{
            min-width:15px;
            width: 15px;
        }
    }
}
@media only screen and (max-width: 767px) and (min-width: 300px)  {
    .header_new{
        padding: 5px 10px;
        .edu_logo{
            svg{
                width: 90px;
            }
        }
        .search_click_bx{
            .search_bx{
                display: none;
            }
        }
        .responsive_ham{
            margin-right: 10px;
            margin-top: 2px;
            display: inline-block;
        }
    }
}
