.country_select {
  display: flex;
  align-items: center;
  position: absolute;
  background: #f4f5f7;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
  padding: 10px 5px;
  height: 40px;
  border-radius: 3px;
  select {
    border: none;
    outline: none;
    background: transparent;
    width: 40px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    &:focus {
      border: none;
      outline: none;
    }
  }
  span {
    margin-left: 3px;
  }
}
