.DUQ_container {
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
  width: 300px;
}

.header {
  height: 40px;
  width: 100%;
  background-color: #ed593e;
  padding: 10px 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.title {
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.body {
  width: 100%;
  background-color: #ffffff;
  padding: 20px 30px;
  transition: 1s;
}

.top_section {
  display: flex;
  align-items: center;
}

.phone_icon {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  border: solid 1px #192f60;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.number {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
}

.info {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #5a6484;
  margin-top: 3px;
}

.form {
  margin-top: 20px;
}

.label {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #3a5075;
}

.input {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #9ba5ba;
}

.submit {
  border-radius: 3px;
  background-color: #0052cc;
  width: 100%;
  padding: 13px;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  &:hover,
  &:active,
  &:focus {
    background-color: #0052cc;
  }
}

.open {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.closed {
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
