@import "../assets/fonts/style.scss";
@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #f4f5f7;
}

* {
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
.top_margin_fix_header{
  margin-top: 70px;
}
@media only screen and (max-width: 767px) and (min-width: 300px)  {
  .top_margin_fix_header{
    margin-top: 60px;
  }
}
