@import "../assets/fonts/style.scss";
@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.duq-transition-enter,
.duq-transition-appear {
  transform: translateY(400px);
}
.duq-transition-enter-active,
.duq-transition-appear-active {
  transform: translateY(0px);
  transition: all 600ms;
}
.duq-transition-exit {
  transform: translateY(0px);
}
.duq-transition-exit-active {
  transform: translateY(400px);
  transition: all 600ms;
}
