@import "../assets/fonts/style.scss";
@import "~bootstrap/scss/bootstrap";
@import "~swiper/swiper.scss";
@import "~swiper/components/pagination/pagination.scss";
@import "~swiper/components/navigation/navigation.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #f4f5f7;
}

* {
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.nav-pills .nav-link.active {
  background-color: #0052cc;
}

.duq-transition-enter,
.duq-transition-appear {
  transform: translateY(414px);
}
.duq-transition-enter-active,
.duq-transition-appear-active {
  transform: translateY(0px);
  transition: all 400ms;
}
.duq-transition-exit {
  transform: translateY(0px);
}
.duq-transition-exit-active {
  transform: translateY(414px);
  transition: all 400ms;
}

.swiper-pagination-bullet-active {
  background-color: #192f60 !important;
}

.testimonial_readmore_modal .swiper-pagination-bullet-active {
  background-color: #3184ff !important;
}

.testimonial_readmore_modal .swiper-button-disabled {
  opacity: 1 !important;
  svg {
    color: #ffffff;
  }
}

.modal-backdrop.show {
  opacity: 0.9;
  background-color: #192f60;
}
.top_margin_fix_header {
  margin-top: 70px;
}
@media only screen and (max-width: 767px) and (min-width: 300px) {
  .top_margin_fix_header {
    margin-top: 60px;
  }
}
