// .search_list_tab{
//     padding:0;
//     margin: 0;
//     list-style: none;
//     .tab__item{
//         display: inline-block;
//     }
// }

.search_list_tab {
    white-space: nowrap;
    position: relative;
    display: flex;
    list-style: none;
    padding: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    color: #757575;
    width: 100%;
    .tab__item {
      padding: 12px;
      cursor: pointer;
      &.active {
        color: #1976d2;
      }
    }
    .indicator {
      height: 2px;
      background-color: #1976d2;
      position: absolute;
      bottom: 0px;
      left: 0px;
      transition: left 500ms, width 500ms;
    }
  }
  
  .tab__content {
    display: none;
    margin-bottom: 48px;
    &.active {
      display: block;
    }
  }
  
  .dropdown__wrapper {
    margin-left: auto;
    margin-right: 12px;
    .dropdown__toggle {
      font-size: 26px;
      text-decoration: none;
    }
    .dropdown {
      list-style: none;
      padding: 0px;
      background: white;
      position: absolute;
      top: 100%;
      right: 0px;
      display: none;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      z-index: 2;
      li {
        padding: 12px;
        cursor: pointer;
        &.active {
          border-bottom: 2px solid #1976d2;
          color: #1976d2;
        }
      }
    }
    .active{
        display: block;
    }
  }
  