.search_bx {
  background-color: #f4f5f7;
  padding-top: 38px;
  padding-left: 111px;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    padding-top: 75px;
  }
}

.input_bx {
  border-radius: 25px;
  border: solid 2px #0857cd;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 50%;
  position: relative;
  height: 50px;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    width: 100%;
  }
}

.input {
  border: none;
  height: 46px;
  background-color: transparent;
  color: #5a6484;
  font-size: 20px;
  padding: 0 20px 0 50px;
  line-height: 1.5;
  text-align: left;
  width: 100%;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    font-size: 14px;
  }
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
  &::placeholder {
    color: #5a6484;
    opacity: 0.6;
  }
}

.search_icon {
  position: absolute;
  left: 16px;
  top: 10px;
  svg {
    width: 20px;
    height: 20px;
  }
}
