.modal_body {
  padding: 50px;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    padding: 36px;
  }
}

.close_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  background-color: #f5f5f5;
  cursor: pointer;
  svg {
    height: 13px;
    width: 13px;
  }
}

.card_header {
  display: flex;
  align-items: center;
  img {
    border-radius: 50%;
    width: 58px;
    height: 58px;
    margin-right: 20px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  span {
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
}

.card_body {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #2b4a91;
  margin-top: 23px;
}

.card_footer {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #0052cc;
  cursor: pointer;
  margin-top: 20px;
  svg {
    height: 11px;
    width: 11px;
    margin-left: 12px;
  }
}

.swiper_container {
  margin-left: auto;
  margin-right: auto;
  position: initial;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.pagination {
  bottom: -70px !important;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    bottom: -40px !important;
  }
}

.bullet {
  width: 49px;
  height: 6px;
  border-radius: 3px;
  background-color: #ffffff;
  opacity: 1;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
}

.next_btn {
  top: auto;
  bottom: -80px;
  right: 200px;
  height: auto;
  width: auto;
  font-weight: 600;
  font-size: 40px;
  &::after {
    display: none;
  }
  svg {
    color: #3184ff;
  }
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    display: none;
  }
}

.prev_btn {
  top: auto;
  bottom: -80px;
  left: 200px;
  height: auto;
  width: auto;
  font-weight: 600;
  font-size: 40px;
  &::after {
    display: none;
  }
  svg {
    color: #3184ff;
  }
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    display: none;
  }
}
