.card {
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 40px 0 rgba(0, 10, 85, 0.06);
  background-color: #ffffff;
}

.card_header {
  position: relative;
  cursor: pointer;
}

.details {
  padding: 24px 15px 11px 15px;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.company_name {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.youtube_logo {
  position: absolute;
  top: 35%;
  left: 42%;
  svg {
    width: 45px;
  }
}

.card_body {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #2b4a91;
  padding: 20px 20px;
  padding-bottom: 0;
}

.card_footer {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.swiper_container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  padding: 40px 0px 90px 0px;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    padding-bottom: 65px;
  }
}

.pagination {
  bottom: 0;
}

.bullet {
  width: 49px;
  height: 6px;
  border-radius: 3px;
  background-color: #aebad5;
  opacity: 1;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
}

.next_btn {
  top: auto;
  bottom: 0;
  right: 350px;
  height: auto;
  width: auto;
  font-weight: 600;
  font-size: 40px;
  &::after {
    display: none;
  }
  svg {
    color: #192f60;
  }
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    display: none;
  }
}

.prev_btn {
  top: auto;
  bottom: 0;
  left: 350px;
  height: auto;
  width: auto;
  font-weight: 600;
  font-size: 40px;
  &::after {
    display: none;
  }
  svg {
    color: #192f60;
  }
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    display: none;
  }
}
