.videoinfo_section {
  padding-top: 30px;
  padding-bottom: 60px;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .courseinfo_section {
    float: right;
    display: inline-block;
    width: 50%;
    .title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 12px;
      color: #192f60;
      @media only screen and (max-width: 767px) and (min-width: 300px) {
        font-size: 16px;
      }
    }
    p {
      font-size: 15px;
      line-height: 1.47;
      color: #42526e;
      margin: 0;
      @media only screen and (max-width: 767px) and (min-width: 300px) {
        font-size: 12px;
        margin-bottom: 15px;
      }
    }
  }
  .video_section {
    float: left;
    display: inline-block;
    width: 50%;
    .video_img_play {
      width: 482px;
      height: 297px;
      margin-bottom: 38px;
      img {
        height: 100%;
      }
    }
    .user_most_like {
      width: 482px;
      padding: 16px 20px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .first_bx {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
          width: 39px;
          height: 39px;
          margin: 0 19px 1px 0;
          border-radius: 100%;
          overflow: hidden;
        }
        p {
          margin: 0;
          .top {
            font-size: 13px;
            color: #192f60;
            display: inline-block;
            width: 100%;
            @media only screen and (max-width: 767px) and (min-width: 300px) {
              font-size: 14px;
            }
          }
          .bottom {
            font-size: 13px;
            color: #8b96af;
            display: inline-block;
            width: 100%;
            @media only screen and (max-width: 767px) and (min-width: 300px) {
              font-size: 12px;
            }
          }
        }
      }
      .second_bx {
        font-size: 12px;
        display: flex;
        align-items: center;
        color: #74819f;
        svg {
          margin-left: 5px;
        }
      }
    }
  }
  .courseenr_section {
    float: right;
    display: inline-block;
    width: 50%;
    margin-top: 30px;
    .learner {
      font-size: 15px;
      font-weight: 600;
      color: #192f60;
      display: flex;
      align-items: center;
      svg {
        width: 26px;
        margin-right: 7px;
      }
      @media only screen and (max-width: 767px) and (min-width: 300px) {
        justify-content: center;
      }
    }
    .money_value {
      span {
        font-size: 15px;
        font-weight: 600;
        color: #192f60;
        @media only screen and (max-width: 767px) and (min-width: 300px) {
          font-size: 12px;
        }
        svg {
          width: 22px;
          fill: #36b37e;
          margin-right: 10px;
        }
      }
      span + span {
        margin-left: 25px;
        @media only screen and (max-width: 767px) and (min-width: 300px) {
          margin-left: 0;
        }
      }
      @media only screen and (max-width: 767px) and (min-width: 300px) {
        background-color: #ffffff;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-bottom: solid 0.5px rgba(28, 53, 149, 0.13);
        margin-bottom: 0;
      }
    }
    .work {
      font-size: 15px;
      color: #192f60;
      @media only screen and (max-width: 767px) and (min-width: 300px) {
        font-size: 11px;
        text-align: center;
        background-color: #ffffff;
        padding: 10px;
        margin-bottom: 0;
      }
    }
    .comp_img {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      flex-wrap: wrap;
      justify-content: space-between;
      div {
        margin-bottom: 10px !important;
      }
      @media only screen and (max-width: 767px) and (min-width: 300px) {
        background-color: #ffffff;
        padding: 20px;
        padding-top: 5px;
        padding-bottom: 10px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
    button {
      width: 479.4px;
      height: 67px;
      border-radius: 6px;
      background-color: #0052cc;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      span {
        font-size: 13px;
        font-weight: 500;
        color: #ffffff;
        display: inline-block;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 300px) {
  .videoinfo_section {
    .courseinfo_section {
      float: none;
      width: 100%;
    }
    .video_section {
      float: none;
      width: 100%;
      .video_img_play {
        width: 100%;
        height: auto;
        margin-bottom: 0;
      }
      .user_most_like {
        width: 100%;
      }
    }
    .courseenr_section {
      float: none;
      width: 100%;
      button {
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}
