.modal_body {
  padding: 0;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    padding: 18px;
  }
}

.modal_dialog {
  width: 1000px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    width: 100%;
    margin: 0;
  }
}

.close_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 1000;
  cursor: pointer;
  svg {
    height: 13px;
    width: 13px;
  }
}

.row {
  margin: 0;
}

.left_section {
  padding: 0;
  cursor: pointer;
  h3 {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
}

.youtube_logo {
  position: absolute;
  top: 45%;
  left: 45%;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    top: 50%;
  }
  svg {
    @media only screen and (max-width: 767px) and (min-width: 300px) {
      width: 45px;
      height: 30px;
    }
  }
}

.right_section {
  background-color: #fafbfc;
  padding: 0;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    background-color: #ffffff;
  }
}

.current_playing {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  span {
    max-width: 85%;
  }
  svg {
    width: 28px;
    height: 28px;
  }
}

.up_next_col {
  border-top: solid 1px #efefef;
  padding: 20px;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    padding: 0;
    border: none;
  }
  p {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
}

.playlist {
  max-height: 260px;
  overflow: auto;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    max-height: auto;
    border-bottom: solid 1px #efefef;
  }
}

.next_playing {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    padding: 20px;
    border: solid 1px #efefef;
    border-bottom: none;
  }
  span {
    max-width: 85%;
  }
  svg {
    width: 28px;
    height: 28px;
  }
}
