.title_section {
  .mix_section {
    display: flex;
    justify-content: space-between;
    .heading {
      display: flex;
      align-items: center;
      h1 {
        font-size: 33px;
        font-weight: 600;
        line-height: 1.52;
        color: #192f60;
        margin: 0 12px 0 0;
        min-width: 10%;
        max-width: 700px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      span {
        padding: 3px 8px 3px;
        border-radius: 2px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
        background-color: #ffffff;
        font-size: 12px;
        font-weight: 600;
        color: #ff2e1a;
      }
    }
  }
  .contact_share {
    display: flex;
    align-items: center;
    .conatct_bx {
      a {
        color: #192f60;
      }
      padding: 9px 16px 8px 14px;
      border-radius: 19px;
      border: solid 1px #eff1f3;
      background-color: #fafbfc;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.53;
      color: #192f60;
      cursor: pointer;
      svg {
        fill: #bdc2cf;
        margin-right: 3px;
      }
    }
    .wishlist_bx {
      width: 40px;
      height: 40px;
      margin: 0 0 0 9px;
      border-radius: 20px;
      border: solid 0.6px #eff0f2;
      background-color: #fafbfc;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      svg {
        fill: #5a6484;
      }
    }
    .share_bx {
      width: 40px;
      height: 40px;
      margin: 0 0 0 9px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.01);
      background-color: #fafbfc;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      svg {
        fill: #5a6484;
      }
    }
  }
}
@media only screen and (max-width: 767px) and (min-width: 300px) {
  .title_section {
    .mix_section {
      display: inline;
      .heading {
        display: inline;
        h1 {
          max-width: 100%;
          white-space: normal;
          font-size: 24px;
          display: initial;
        }
        span {
          display: none;
        }
      }
    }
    .contact_share {
      display: inline-flex;
    }
    .conatct_bx {
      display: none;
    }
  }
}
