.country_select_section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.label {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-right: 18px;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    font-size: 12px;
  }
}
