.download_syllabus_btn {
  height: 38px;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.02);
  background-color: #ffffff;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: #ffffff !important;
    color: #192f60 !important;
  }
  svg {
    margin-right: 12px;
  }
}
